<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
<body>
	<div id="container">
		<div id="header">
			<h1><img src="angular/view/home_images/title.jpg" style="width: 50px; height: 50px;"><span> Smart Child Care</span></h1>
			<div>
				
				  <ul class="nav nav-tabs">
				    <li id="navButton" class="active"><a data-toggle="tab" href="#home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
				    <li id="navButton"><a data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-user"></span> SignUp</a></li>
				    <li id="navButton"><a data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				    <li id="navButton"><a data-toggle="tab" href="#Contact"><span class="glyphicon glyphicon-earphone"></span> Contact Us</a></li>
				    <li id="navButton"><a data-toggle="tab" href="#About"><span class="glyphicon glyphicon-info-sign"></span> About Us</a></li>
				    <li id="navButton"><a data-toggle="tab" href="#FAQ"><span class="glyphicon glyphicon-question-sign"></span> FAQ</a></li>
				  </ul>
			  	
			</div>
		</div>
		<div class="modal fade" id="myModal" role="dialog">
		    <div class="modal-dialog modal-lg">
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h3 class="modal-title">Please Select your choice.. :)</h3>
		        </div>
		        <div class="modal-body">
		          <form>
		            <a data-toggle="tab" href="#SignUp"><button class="btn btn-primary" data-dismiss="modal">As a service provider</button></a>
		            <a data-toggle="tab" href="#Login"><button class="btn btn-primary" data-dismiss="modal">As a customer</button></a>
		          </form>
		        </div>
		      </div>
		    </div>
  		</div>
  		<div class="modal fade" id="myModal1" role="dialog">
		    <div class="modal-dialog modal-lg">
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h3 class="modal-title">Please Select your choice.. :)</h3>
		        </div>
		        <div class="modal-body">
		          <form>
		            <a data-toggle="tab" href="#SignUp"><button class="btn btn-primary" data-dismiss="modal">As a service provider</button></a>
		            <a data-toggle="tab" href="#Login"><button class="btn btn-primary" data-dismiss="modal">As a customer</button></a>
		          </form>
		        </div>
		      </div>
		    </div>
  		</div>
	<div class="tab-content">
			<div id="home" class="tab-pane fade in active">
				<div id="slide">
					<img class="mySlides" src="angular/view/home_images/1.jpg">
					<img class="mySlides" src="angular/view/home_images/2.jpg">
					<img class="mySlides" src="angular/view/home_images/3.jpg">
					<img class="mySlides" src="angular/view/home_images/4.jpg">
					<img class="mySlides" src="angular/view/home_images/img.png">
				</div>
				<div id="leftBar">
					<h3>hello</h3>
				</div>
				<div id="main">
					
				</div>
			</div>
		<div id="Contact" class="tab-pane fade">
			<h3><span style="color: gray;">Email:</span> smartbabycare@gmail.com</h3>
			<h3><span style="color: gray;">Phone:</span> +919876543210</h3>
			<h3><span style="color: gray;">Address:</span> XYZ, Bangalore, Pin 560070</h3>
		</div>
		


		<div id="Login" class="tab-pane fade" style="margin-top: 50px; margin-left: 50px;">
			<form  action="#" method="POST">
      			<div class="form-group">
        			<label for="email">Email:</label>
        			<input style="width: 97%;" autocomplete="off" type="email" class="form-control" id="email" placeholder="Enter email" required>
      			</div>
      			<div class="form-group">
        			<label for="pwd">Password:</label>
        			<input style="width: 97%;" autocomplete="off" type="password" class="form-control" id="pwd" placeholder="Enter password" required>
     			</div>
      			<div class="checkbox">
        			<label><input type="checkbox"> Remember me</label>
      			</div>
      			<button type="submit" class="btn btn-success">Login</button>
    		</form>
    		<br><br><a data-toggle="tab" href="#SignUp">Crate an Account</a>
    	</div>



    	<div id="SignUp" class="tab-pane fade" style="margin-top: 50px; margin-left: 50px;">
	        <form action="#" method="POST">
	        <div class="form-group">
	          <label for="name">Name:</label>
	          <input style="width: 97%;" autocomplete="off" type="text" class="form-control" id="name" placeholder="Enter name" required>
	        </div>
	        <div class="form-group">
	          <label for="email">Email:</label>
	          <input style="width: 97%;" autocomplete="off" type="email" class="form-control" id="email" placeholder="Enter email" required>
	        </div>
	        <div class="form-group">
	          <label for="pwd">Password:</label>
	          <input style="width: 97%;" autocomplete="off" type="password" class="form-control" id="pwd" placeholder="Enter password" required>
	        </div>
	        <button type="submit" class="btn btn-success">SignUp</button>
	      </form>
	      <br><br><a data-toggle="tab" href="#Login">Already Have an Account?</a>
    	</div>

	</div>
		
	</div>
	<script type="text/javascript">
		var myIndex=0;
		carousel();
		function carousel(){
			var i;
			var x = document.getElementsByClassName("mySlides");
			for(i=0; i<x.length; i++){
				x[i].style.display = "none";
			}
			myIndex++;
			if(myIndex > x.length){myIndex = 1}
				x[myIndex-1].style.display = "block";
			setTimeout(carousel,2000);
		}
	</script>
</body>
</html>
